@use "../../scss/" as *;

.modal {
    width: 30%;
    color: black;
    animation: box-shadow 5s infinite;
    box-shadow: 0px 0px 5px 10px $bg-gradient-2;

    position: fixed;
    top: 0;
    right: 0;
    background-color: $card-color;
    margin: 5rem;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    word-break: break-all;

    .icon-check {
        background-color: #00ff58;
        border-radius: 5px;
        margin-top: 10px;
    }
}
