$bg-default: #161516;
$bg-gradient-1: #19e2ca;
$bg-gradient-2: #0c6042;
$text-color-default: #e4eef1;
$text-color-2: #00ff58;
$second-color: #3bf3ff;
$card-color: #f4f4f4;

$font-1: "Raleway", sans-serif;
$font-2: "Asap Condensed", sans-serif;

$mobile: 796px;
